* {
  margin: 0;
  padding: 0;
}
.welcome {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #1e283d;
  animation: welcome 1s forwards 1s;
}
.welcome .p {
  color: #ffffff;
  font-size: 25px;
  margin: 20% 0 ;
  text-align: center;
}
@keyframes welcome {
  to {
    transform: translateY(-1000px);
    background-color: transparent;
  }
}
.header {
  background-image: linear-gradient(to right, #ed4f4f, #f8bd96);
  height: 170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .logo img {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
}
.header .word {
  text-align: center;
  font-size: 16px;
  color: white;
}
.header .word #info {
  font-size: 13px;
  padding: 10px;
  color: #f8d7d2;
}
.content .title {
  border-bottom: 1px #fbcaca solid;
  margin-left: 25px;
  padding: 8px 10px 3px 10px;
  color: #390d06;
  font-size: 16px;
}
.content .title p {
  margin-left: 20px;
}
.content .res {
  margin-top: 5px;
  display: flex;
  flex-flow: column warp;
  justify-content: space-around;
}
.content .res .card {
  width: 200px;
  height: 200px;
  background-color: aqua;
}
