*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Avenir Next", Avenir, "Helvetica Neue", "Lato", "Segoe UI", Helvetica, Arial, sans-serif;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}


// .welcome{
//         width: 100%;
//         height: 100%;
//         position: absolute;
//         background-color: rgb(30, 40, 61);
//         animation: welcome 1s forwards 1s;
//     .p{
//         color: rgb(255, 255, 255);
//         font-size: 25px;
//         margin: 20% 0 ;
//         text-align: center;
//     }
// }

@keyframes welcome {
    to {
        transform: translateY(-1000px);
        background-color: transparent;
    }
}


.header{
    // background-image: linear-gradient(to right, rgb(237, 79, 79), rgb(248, 189, 150));
    // height: 1vw;
    // width: 500vw;
    background-color: rgba(255,255,255,.2);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: center;

    iframe.butn{
        width: 200px;
        height: 70px;
        margin-bottom: 10px;
        position: relative;
        z-index: 1;
    }

    .logo{
        // background-color: blue;
        z-index: 10;
        img{
            cursor: pointer;
            margin-top: 5px;
            margin-bottom: 5px;
            width: 90px;
            background-size: cover;
            background-repeat: no-repeat;
            
        }
    }
    .word{
        text-align: center;
        a{
            font-size: 16px;
            text-decoration: none;
            color: rgb(215, 61, 61);
        }
        p{
            font-size: 13px;
            padding: 10px;
            color: #ee5436;
        }
    }
}

.content{
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;
    .title{
        border-bottom: 1px rgb(251, 202, 202) solid;
        margin: 0 ,auto;
        padding: 8px 10px 3px 10px;
        color: #5d170b;
        font-size: 16px;
        p{
            margin-left: 20px;
        }
    }
    .res{
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        // flex-wrap: wrap;
        justify-content: space-evenly;
        .card {
            align-items: center;
            width: 480px;
            height: 330px;
            margin: 20px;
            border-radius: 12px;
            box-shadow: 0px 8px 25px rgba(0, 0, 0, 12%);
            transition: all .5s;
            // display: flex;
            // flex-direction: column;
            overflow: hidden;
            text-align: center;
            font-size: 40px;
            background-color: rgba(255,255,255,.9);
            p{
                font-size: 18px;
            }
            i{
                font-size: 12px;
            }

            .reposi{
                margin-top: 50px;
                // background-color: #390d06;
            }

            .prop{
                margin: 25px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                button{
                    cursor: pointer;
                    background-color: rgba(255, 255, 255, .3);
                    margin-top: 20px;
                    padding: 10px;
                    border: 1px rgb(174, 174, 174) solid;
                    border-radius: 6px;
                    &:hover{
                        background-color: #ECF5FF;
                        color: #409EFF;
                        border: 1px #409EFF solid;
                    }
                }
            }
        }
    }

}

@media screen and (max-width:768px) {
    .res{
        flex-wrap: wrap;
    }
}