html{
    background-color: rgb(11, 13, 17);
    animation: ht 2s forwards 1s;
}

.welcome{
    
    .p{
        color: rgb(255, 255, 255);
        font-size: 25px;
        animation: wel 2s forwards .5s;
        margin: 20% 0 ;
        text-align: center;
    }
}

@keyframes ht {
    from {}
    to {

        background-color: transparent;
    }
}

@keyframes wel {
    from{ }
    to{
        color: transparent;
    }
}