* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Avenir Next", Avenir, "Helvetica Neue", "Lato", "Segoe UI", Helvetica, Arial, sans-serif;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  background-image: url(../assets/background.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
@keyframes welcome {
  to {
    transform: translateY(-1000px);
    background-color: transparent;
  }
}
.header {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header iframe.butn {
  width: 200px;
  height: 70px;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}
.header .logo img {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.header .word {
  text-align: center;
}
.header .word a {
  font-size: 16px;
  text-decoration: none;
  color: #f5f0f0;
}
.header .word p {
  font-size: 13px;
  padding: 10px;
  color: #f1e0dd;
}
.content .title {
  border-bottom: 1px #fbcaca solid;
  margin: 0 ,auto;
  padding: 8px 10px 3px 10px;
  color: #5d170b;
  font-size: 16px;
}
.content .title p {
  margin-left: 20px;
}
.content .res {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.content .res .card {
  align-items: center;
  width: 480px;
  height: 330px;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
  overflow: hidden;
  text-align: center;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.5);
}
.content .res .card p {
  font-size: 18px;
}
.content .res .card i {
  font-size: 12px;
}
.content .res .card .reposi {
  margin-top: 50px;
}
.content .res .card .prop {
  margin: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.content .res .card .prop button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 20px;
  padding: 10px;
  border: 1px #aeaeae solid;
  border-radius: 6px;
}
.content .res .card .prop button:hover {
  background-color: #ECF5FF;
  color: #409EFF;
  border: 1px #409EFF solid;
}
@media screen and (max-width: 768px) {
  .res {
    flex-wrap: wrap;
  }
}
