
/* html,body {background-color: white;}控制背景颜色 */
html{
  perspective: 800px;
}
body {
        font-family: ËÎÌå,Arial, Helvetica;
        line-height:22px;
        margin: 0;
        background-color: #F0EFE2;
        /* height: 1000px; */
        /* background-attachment:fixed; */
    }/*控制字体*/

a{
  text-decoration: none;
    }

.main3{ 
        width:1000px; 
        clear:both ; 
        margin-top:10px; 
        margin-left:auto; 
        margin-right:auto; 
        overflow:hidden;
        
      }

.main3 .sons .contImg{ 
                        height:auto;
                        clear:both;
                        margin:20px; 
                        overflow:hidden;
                        border-radius:8px; 
                        /* background-color: #bbbbbb; */
                        box-shadow:1px 1px 15px #d7d5bc;
                    }

.main3 .sons .contImg img{
                            width:50%; 
                            border-radius:10px;
                            margin-left: 245px;
   
                        }

.main3 .sons .contImg img:hover{
                                size-adjust: 100%;
                                box-shadow:10px 10px 50px 1px #c2c0a1;
                                }

.main3 .sons .contImg .info{
                            text-align:center; 
                            color:#bbbbbb;
                            font-size: 12px;
                            }

.main3 .sons .contImg .jucount{ 
                                font-size: 14px;
                                color: #a2a085;
                                clear:both; 
                                overflow:auto; 
                                margin-left:20px; 
                                margin-right:20px; 
                                margin-top:20px;
                                margin-bottom: 20px;
                                text-align:center;
                              }

.main3 .sons .contImg .jucount h1.headline{
                                color: black;
                                text-shadow: 10px 10px 10px 10px #a2a085;
                              }

.nav{
  display: flex;
  padding: 0;
}

.nav li{
          /* padding-bottom: 40px; */
          flex-grow: 1;
          float: left;
          /* background-color: #E8E7E3; */
          /* height: 40px; */
          /* width: 20px; */
          line-height:  50px;/*元素在父元素中垂直居中*/
          list-style: none;
          display: flex;
}

.nav a{
        display: block;/*将a标签转换为块元素，以方便调节样式*/
        text-decoration: none;
        color: #777777;
        font-size: 16px;
        text-align: center;
        flex-grow: 1;
}

.nav a:hover{
  background-color: #3F3F3F;
  color: #E8E7E3;
  box-shadow: 1px 1px 15px #a2a085;
}

.hint{
  float: right;
  color: #a2a085;
  padding:15px 15px;
  text-decoration: none;
  font-size: 18px;
  
}

.hint:hover{
  text-shadow:1px 1px 15px #27ed91;

}







h1.title{
  text-align: center;
  margin: 50px 0 0 0 ;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}



.bubble{
  background-size: contain;
  width: 35px;
  height: 35px;
  margin:-5px 10px 0 0;
  background-image: url(../Html/src/off.png);
}

.title:hover>.bubble{
  animation: bubble .3s  linear 1 forwards;
  
}

@keyframes bubble {
  from{
    display: none;
    background-image: url(../Html/src/off.png);
  }

  to{
    background-image: url(../Html/src/on.png);
  }
}

h1.title:hover{
  text-shadow: 0 0 10px rgb(252, 210, 81);
  /* transition: 2s; */
  /* transform: translateY(10px); */
  

}

.wrap {
  width: 840px;
  height: 300px;
  /* background-color: sandybrown; */
  position: relative;
  margin: 0 auto;
  margin-top: 30px;

}

.box1 {
  width: 160px;
  height: 250px;
  /* background-color: salmon; */
  float: left;
  margin: 0 25px 0 25px;
  border-radius: 18px;
 
}

.box:hover,
.mask:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, .6);
  
}

.box1:nth-child(n) .box{
  background-size: cover ;
  
}

.box1:nth-child(n) .mask{
  background-size: cover ;
  
}


.box1:nth-child(1) .box{
  background-image: url(../Html/src/s1.png);
  
}

.box1:nth-child(2) .box{
  background-image: url(../Html/src/s2.png);
  
}

.box1:nth-child(3) .box{
  background-image: url(../Html/src/s3.png);

}

.box1:nth-child(4) .box{
  background-image: url(../Html/src/s4.png);
 
}



.box{
  width: 160px;
  height: 250px;
  /* display: flex; */
  /* flex-wrap: row warp; */
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 18px;
  color: #eee5da;
  padding: 18px 10px;
  position: absolute;
  /* perspective: 1000px; */
  transition: .4s ease-in-out;
  transform: translateY(20PX);
}
.mask{
  width: 160px;
  flex-direction: column;
  height: 250px;
  border-radius: 18px;
  color: #fff;
  font-size: 30px;
  /* justify-content: stretch; */
  /* align-items: flex-start; */
  text-align: left center;
  line-height: 300px;
  font-family: '微软雅黑';
  font-weight: bold;
  /* position: absolute; */
  backface-visibility:hidden;
  perspective: 1000px;
  transform: rotateY(-180deg) translateY(20PX);
  transition: 0.5s ease-in-out;
}


.box1:hover .box{
  transform: rotate(-180deg);
}
.box1:hover .mask{
  transform: rotate(-360deg);
}
.box1:nth-child(1) .mask{
 background-image: url(../Html/src/李白.jpg);
}
.box1:nth-child(2) .mask{
  background-image: url(../Html/src/李商隐.jpg);
}
.box1:nth-child(3) .mask{
  background-image: url(../Html/src/辛弃疾.jpg);
}
.box1:nth-child(4) .mask{
  background-image: url(../Html/src/李清照.jpg);
}

p.de{
  font-size: 40px;
  line-height: 80px;
  text-align: center;
}

p.pe{
  display: flex;
  flex-direction: column;
  font-size: 10px;
  margin: 55px 10px 0 0;
  text-align: right;
}

.link{
  font-size: 12px;
  color: rgb(119, 113, 113);
  display: block;
  padding:5px;
  height: 100px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 140px;
  line-height: 20px;
  border-radius: 0 0 18px 18px;
  text-decoration: none;
}

/* 阅读全诗详情 */
.all{
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-flow: column warp; 
  list-style: none;
  text-decoration: none;
  justify-content:space-evenly;
  margin-bottom: 50px;
}

.all>li>a{
  color: #767676;
  font-size: 19px;
}

.all>li>a:hover{
  color: black;
  /* font-size: 20px; */
  /* font-weight: 550; */
}


/* 适配移动端 */
@media (max-width:768px){
 

}
