/* css：层叠样式表。网页是一个多层结构，css可以为每一层设置样式 */
/* css是第三种样式：外部样式表。通过link标签引入css文件 */
/* 外部css文件可以帮助网站更快地进行加载 */
p{/*p为css选择器、大括号内部是声明块 */
    color: rgba(0, 255, 255, 0.582);/*一个声明：一个名值对 */
    font-size: 20px;
}

header{
    color: aquamarine;
    font-size: 30px;
}

main{
    color: bisque;
    font-size: 10px;
}

footer{
    color: yellow;
    font-size: 25px;
}


















